/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/portfolio
public/images/service
public/images/testimoni
public/images/article
/bootstrap/cache/*.php
bootstrap/cache/routes-v7.php
public/uploads/1753715052_CCF28072025.pdf

